<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.gov.ICanyinNocertDao">

	<!-- resultMap -->
	<resultMap type="CanyinNocert" id="CanyinNocertMap">
		<result property="id" column="id" />
		<result property="accountid" column="accountid" />
		<result property="fillTime" column="fillTime" />
		<result property="fillyear" column="fillyear" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="town" column="town" />
		<result property="country" column="country" />
		<result property="street" column="street" />
		<result property="shoptype" column="shoptype" />
		<result property="shopaddr" column="shopaddr" />
		<result property="name" column="name" />
		<result property="idnum" column="idnum" />
		<result property="homeaddr" column="homeaddr" />
		<result property="telephone" column="telephone" />
		<result property="incoming" column="incoming" />
		<result property="productType" column="productType" />
		<result property="districtId" column="districtId" />
		<result property="remark" column="remark" />
		<result property="addressStr" column="addressStr" />
		<result property="status" column="status" />
	</resultMap>

	<!--根据id查询全部 -->
	<select id="getById" parameterType="int" resultMap="CanyinNocertMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_canyin_nocert where id=#{id}
	</select>
	<select id="getByField" parameterType="CanyinNocert" resultMap="CanyinNocertMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr 
		from ap_canyin_nocert where fillyear=#{fillyear} and idnum=#{idnum} and accountid=#{accountid}
	</select>
	<select id="getByYear" parameterType="CanyinNocert" resultMap="CanyinNocertMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_canyin_nocert where fillyear=#{fillyear} and accountid=#{accountid}
	</select>
	<delete id="clearData" parameterType="CanyinNocert">
		delete from ap_canyin_nocert where fillyear=#{fillyear} and accountid=#{accountid}
	</delete>
	<select id="getYears" parameterType="int" resultType="java.lang.Integer">
		select distinct fillyear from ap_canyin_nocert where accountid=#{accountid} order by fillyear desc;
	</select>
	<!-- 添加 -->
	<update id="setstatus"> <!-- 参数0是status,参数1是companyid -->
		update ap_canyin_nocert set status=#{0} where accountid=#{1} and fillyear=(select v from ap_config where k='current_year')
	</update>
	<update id="setstatus2"> <!-- 参数0是status,参数1是companyid -->
		update ap_canyin_nocert set status=#{0} where accountid=#{1} and fillyear=(select v from ap_config where k='current_year') and status=#{2}
	</update>
	<insert id="add" parameterType="CanyinNocert" useGeneratedKeys="true" keyProperty="id">
		insert into ap_canyin_nocert
		<set>
		<if test="accountid >= 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="shoptype != null">
			shoptype=#{shoptype},
		</if>
		<if test="shopaddr != null">
			shopaddr=#{shopaddr},
		</if>
		<if test="name != null">
			name=#{name},
		</if>
		<if test="idnum != null">
			idnum=#{idnum},
		</if>
		<if test="homeaddr != null">
			homeaddr=#{homeaddr},
		</if>
		<if test="telephone != null">
			telephone=#{telephone},
		</if>
		<if test="incoming > 0">
			incoming=#{incoming},
		</if>
		<if test="productType != null">
			productType=#{productType},
		</if>
		<if test="districtId != null">
			districtId=#{districtId},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="remark != null">
			remark=#{remark}
		</if>
	</set>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from ap_canyin_nocert where id=#{id};
	</delete>
	<!--修改 -->
	<update id="update" parameterType="CanyinNocert">
		update ap_canyin_nocert
		<set>
		<if test="accountid > 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="shoptype != null">
			shoptype=#{shoptype},
		</if>
		<if test="shopaddr != null">
			shopaddr=#{shopaddr},
		</if>
		<if test="name != null">
			name=#{name},
		</if>
		<if test="idnum != null">
			idnum=#{idnum},
		</if>
		<if test="homeaddr != null">
			homeaddr=#{homeaddr},
		</if>
		<if test="telephone != null">
			telephone=#{telephone},
		</if>
		<if test="incoming > 0">
			incoming=#{incoming},
		</if>
		<if test="productType != null">
			productType=#{productType},
		</if>
		<if test="districtId != null">
			districtId=#{districtId},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="remark != null">
			remark=#{remark}
		</if>
	</set>
		where id=#{id}
	</update>

</mapper>