<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.gov.IConstructionDustDao">

	<!-- resultMap -->
	<resultMap type="ConstructionDust" id="ConstructionDustMap">
		<result property="id" column="id" />
		<result property="accountid" column="accountid" />
		<result property="fillTime" column="fillTime" />
		<result property="fillyear" column="fillyear" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="town" column="town" />
		<result property="country" column="country" />
		<result property="street" column="street" />
		<result property="constructArea" column="constructArea" />
		<result property="buildingArea" column="buildingArea" />
		<result property="startWorkArea" column="startWorkArea" />
		<result property="completeArea" column="completeArea" />
		<result property="hasStartedArea" column="hasStartedArea" />
		<result property="hasStartNumber" column="hasStartNumber" />
		<result property="notStartArea" column="notStartArea" />
		<result property="notStartNumber" column="notStartNumber" />
		<result property="department" column="department" />
		<result property="addressStr" column="addressStr" />
		<result property="status" column="status" />
		<result property="avgWorktime" column="avgWorktime" />
	</resultMap>

	<!--根据id查询全部 -->
	<select id="getConstructionDust" parameterType="ConstructionDust" resultMap="ConstructionDustMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_constructiondust where accountid=#{accountid} and area=#{area} and fillyear=#{fillyear} and city=#{city}
	</select>
	<select id="getByField" parameterType="ConstructionDust" resultMap="ConstructionDustMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr 
		from ap_constructiondust where fillyear=#{fillyear} and city=#{city} and accountid=#{accountid}
	</select>
	<select id="getByYear" parameterType="ConstructionDust" resultMap="ConstructionDustMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr 
		from ap_constructiondust where fillyear=#{fillyear} and accountid=#{accountid}
	</select>
	<select id="getYears" parameterType="int" resultType="java.lang.Integer">
		select distinct fillyear from ap_constructiondust where accountid=#{accountid} order by fillyear desc;
	</select>
	<select id="statAll" resultMap="ConstructionDustMap">
		select c.id,c.fillyear,c.city,SUM(hasStartedArea) hasStartedArea,SUM(hasStartNumber) hasStartNumber ,SUM(notStartArea) notStartArea,
        SUM(notStartNumber) notStartNumber,area
        from ap_constructiondust c
        left join ap_enterprise en
        on en.id=accountid
        where fillyear=#{0} and `status`=3 and en.province>0
        GROUP BY city,area
	</select>
	<select id="statAll2" resultMap="ConstructionDustMap">
		select c.id,c.fillyear,c.city,SUM(hasStartedArea) hasStartedArea,SUM(hasStartNumber) hasStartNumber ,SUM(notStartArea) notStartArea,
        SUM(notStartNumber) notStartNumber,area
        from ap_constructiondust c
        left join ap_enterprise en
        on en.id=accountid
        where fillyear=#{0} and `status`=3 and en.province=0
        GROUP BY city,area
	</select>
	<!-- 添加 -->
	<update id="setstatus"> <!-- 参数0是status,参数1是companyid -->
		update ap_constructiondust set status=#{0} where accountid=#{1} and fillyear=#{2}
	</update>
	<update id="setstatus2"> <!-- 参数0是status,参数1是companyid -->
		update ap_constructiondust set status=#{0} where accountid=#{1} and status=#{2}
	</update>
	<update id="setstatus3"> <!-- 参数0是status,参数1是companyid -->
		update ap_constructiondust set status=#{0} where accountid=#{1} and status=#{2} and fillyear=#{3}
	</update>
	<insert id="add" parameterType="ConstructionDust" useGeneratedKeys="true" keyProperty="id">
		insert into ap_constructiondust
		<set>
 		<if test="accountid >= 0">
			accountid=#{accountid},
		</if> 
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="area >= 0">
			area=#{area},
		</if>
		<if test="constructArea >= 0">
			constructArea=#{constructArea},
		</if>
		<if test="buildingArea >= 0">
			buildingArea=#{buildingArea},
		</if>
		<if test="startWorkArea >= 0">
			startWorkArea=#{startWorkArea},
		</if>
		<if test="completeArea >= 0">
			completeArea=#{completeArea},
		</if>
		<if test="hasStartedArea >= 0">
			hasStartedArea=#{hasStartedArea},
		</if>
		<if test="hasStartNumber >= 0">
			hasStartNumber=#{hasStartNumber},
		</if>
		<if test="notStartArea >= 0">
			notStartArea=#{notStartArea},
		</if>
		<if test="notStartNumber >= 0">
			notStartNumber=#{notStartNumber},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="department != null">
			department=#{department},
		</if>
		<if test="avgWorktime >= 0">
		    avgWorktime=#{avgWorktime}
		</if>
	</set>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from ap_constructiondust where id=#{id};
	</delete>
	<!--修改 -->
	<update id="update" parameterType="ConstructionDust">
		update ap_constructiondust
		<set>
		<if test="accountid > 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="area >= 0">
			area=#{area},
		</if>
		<if test="constructArea != null">
			constructArea=#{constructArea},
		</if>
		<if test="buildingArea != null">
			buildingArea=#{buildingArea},
		</if>
		<if test="startWorkArea != null">
			startWorkArea=#{startWorkArea},
		</if>
		<if test="completeArea != null">
			completeArea=#{completeArea},
		</if>
		<if test="hasStartedArea != null">
			hasStartedArea=#{hasStartedArea},
		</if>
		<if test="hasStartNumber != null">
			hasStartNumber=#{hasStartNumber},
		</if>
		<if test="notStartArea != null">
			notStartArea=#{notStartArea},
		</if>
		<if test="notStartNumber != null">
			notStartNumber=#{notStartNumber},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="department != null">
			department=#{department},
		</if>
		<if test="avgWorktime != null">
		    avgWorktime=#{avgWorktime}
		</if>
	</set>
		where accountid=#{accountid} and area=#{area} and fillyear=#{fillyear} and city=#{city}
	</update>

</mapper>