<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.gov.IGasstationDao">

	<!-- resultMap -->
	<resultMap type="Gasstation" id="GasstationMap">
		<result property="id" column="id" />
		<result property="accountid" column="accountid" />
		<result property="fillTime" column="fillTime" />
		<result property="fillyear" column="fillyear" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="town" column="town" />
		<result property="country" column="country" />
		<result property="street" column="street" />
		<result property="countryname" column="countryname" />
		<result property="streetname" column="steetname" />
		<result property="gasStationName" column="gasStationName" />
		<result property="gasolineGross" column="gasolineGross" />
		<result property="dieselGross" column="dieselGross" />
		<result property="natgasGross" column="natgasGross" />
		<result property="gasolineSellMonth" column="gasolineSellMonth" />
		<result property="dieselSellMonth" column="dieselSellMonth" />
		<result property="natgasSellMonth" column="natgasSellMonth" />
		<result property="gasolineSpear" column="gasolineSpear" />
		<result property="dieselSpear" column="dieselSpear" />
		<result property="natgasSpear" column="natgasSpear" />
		<result property="recycleDevice" column="recycleDevice" />
		<result property="recovery" column="recovery" />
		<result property="addressStr" column="addressStr" />
		<result property="status" column="status" />
	</resultMap>

	<!--根据id查询全部 -->
	<select id="getById" parameterType="int" resultMap="GasstationMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_gasstation where id=#{id}
	</select>
	<select id="getByField" parameterType="Gasstation" resultMap="GasstationMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_gasstation where fillyear=#{fillyear} and gasStationName=#{gasStationName} and accountid=#{accountid}
	</select>
	<select id="getByYear" parameterType="Gasstation" resultMap="GasstationMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_gasstation where fillyear=#{fillyear} and accountid=#{accountid}
	</select>
	<delete id="clearData" parameterType="Gasstation">
		delete from ap_gasstation where fillyear=#{fillyear} and accountid=#{accountid}
	</delete>
	<select id="getYears" parameterType="int" resultType="java.lang.Integer">
		select distinct fillyear from ap_gasstation where accountid=#{accountid} order by fillyear desc;
	</select>
	<!-- 添加 -->
	<update id="setstatus"> <!-- 参数0是status,参数1是companyid -->
		update ap_gasstation set status=#{0} where accountid=#{1}
	</update>
	<update id="setstatus2"> <!-- 参数0是status,参数1是companyid -->
		update ap_gasstation set status=#{0} where accountid=#{1} and status=#{2}
	</update>
	<insert id="add" parameterType="Gasstation" useGeneratedKeys="true" keyProperty="id">
		insert into ap_gasstation
		<set>
		<if test="accountid >= 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="gasStationName != null">
			gasStationName=#{gasStationName},
		</if>
		<if test="gasolineGross > 0">
			gasolineGross=#{gasolineGross},
		</if>
		<if test="dieselGross > 0">
			dieselGross=#{dieselGross},
		</if>
		<if test="natgasGross > 0">
			natgasGross=#{natgasGross},
		</if>
		<if test="gasolineSellMonth > 0">
			gasolineSellMonth=#{gasolineSellMonth},
		</if>
		<if test="dieselSellMonth > 0">
			dieselSellMonth=#{dieselSellMonth},
		</if>
		<if test="natgasSellMonth > 0">
			natgasSellMonth=#{natgasSellMonth},
		</if>
		<if test="gasolineSpear > 0">
			gasolineSpear=#{gasolineSpear},
		</if>
		<if test="dieselSpear > 0">
			dieselSpear=#{dieselSpear},
		</if>
		<if test="natgasSpear > 0">
			natgasSpear=#{natgasSpear},
		</if>
		<if test="recycleDevice > 0">
			recycleDevice=#{recycleDevice},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="recovery > 0">
			recovery=#{recovery}
		</if>
	</set>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from ap_gasstation where id=#{id};
	</delete>
	<!--修改 -->
	<update id="update" parameterType="Gasstation">
		update ap_gasstation
		<set>
		<if test="accountid > 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="gasStationName != null">
			gasStationName=#{gasStationName},
		</if>
		<if test="gasolineGross > 0">
			gasolineGross=#{gasolineGross},
		</if>
		<if test="dieselGross > 0">
			dieselGross=#{dieselGross},
		</if>
		<if test="natgasGross > 0">
			natgasGross=#{natgasGross},
		</if>
		<if test="gasolineSellMonth > 0">
			gasolineSellMonth=#{gasolineSellMonth},
		</if>
		<if test="dieselSellMonth > 0">
			dieselSellMonth=#{dieselSellMonth},
		</if>
		<if test="natgasSellMonth > 0">
			natgasSellMonth=#{natgasSellMonth},
		</if>
		<if test="gasolineSpear > 0">
			gasolineSpear=#{gasolineSpear},
		</if>
		<if test="dieselSpear > 0">
			dieselSpear=#{dieselSpear},
		</if>
		<if test="natgasSpear > 0">
			natgasSpear=#{natgasSpear},
		</if>
		<if test="recycleDevice > 0">
			recycleDevice=#{recycleDevice},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="recovery > 0">
			recovery=#{recovery}
		</if>
	</set>
		where id=#{id}
	</update>

</mapper>