<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.gov.IGovFactorDao">


	<!--根据id查询全部 -->
	<select id="getById"  resultType="com.xf.entity.gov.GovFactor">
	SELECT * FROM ap_govfactor WHERE id=#{0}
	</select>
	
	<select id="getByTypeName"  resultType="com.xf.entity.gov.GovFactor">
	SELECT * FROM ap_govfactor WHERE typename=#{0}
	</select>
	
	<select id="getTypex"  resultType="com.xf.entity.gov.GovFactor">
	SELECT * FROM ap_govfactor WHERE typename=#{0} AND type_x2 is not null
	</select>
	<select id="getByThree"  resultType="com.xf.entity.gov.GovFactor">
	SELECT * FROM ap_govfactor WHERE typename=#{0} AND type_x=#{1} and type_y=#{2} and type_y2=#{3}
	</select>
	<select id="getByFour"  resultType="com.xf.entity.gov.GovFactor">
	SELECT * FROM ap_govfactor WHERE typename=#{0} AND type_x=#{1} and type_x2=#{2} and type_y=#{3} and type_y2=#{4}
	</select>
	<select id="getAnimal2Factor"  resultType="com.xf.entity.gov.GovFactor">
	SELECT * FROM ap_govfactor WHERE typename = 'animal2'
	</select>
	
	<delete id="delete">
		delete from ap_govfactor where id=#{0};
	</delete>
	
	<insert id="add" parameterType="GovFactor" useGeneratedKeys="true" keyProperty="id">
		insert into ap_govfactor
		<set>
		<if test="id > 0">
			id=#{id},
		</if>
		<if test="typename != null">
			typename=#{typename},
		</if>
		<if test="type_x != null">
			type_x=#{type_x},
		</if>
		<if test="type_x2 != null">
			type_x2=#{type_x2},
		</if>
		<if test="type_y != null">
			type_y=#{type_y},
		</if>
		<if test="type_y2 != null">
			type_y2=#{type_y2},
		</if>
		<if test="factor > 0">
			factor=#{factor},
		</if>
		<if test="param > 0">
			param=#{param},
		</if>
	</set>
	</insert>
	
	<update id="update" parameterType="java.util.Map">
          ${sql1};
	</update>
		

</mapper>