<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.gov.IHouseholdFuelDao">

	<!-- resultMap -->
	<resultMap type="HouseholdFuel" id="HouseholdFuelMap">
		<result property="id" column="id" />
		<result property="accountid" column="accountid" />
		<result property="fillTime" column="fillTime" />
		<result property="fillyear" column="fillyear" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="town" column="town" />
		<result property="country" column="country" />
		<result property="street" column="street" />
		<result property="population" column="population" />
		<result property="coalConsume" column="coalConsume" />
		<result property="lifeCoal" column="lifeCoal" />
		<result property="lifeNatgas" column="lifeNatgas" />
		<result property="lifeCoalSulphur" column="lifeCoalSulphur" />
		<result property="lifeCoalash" column="lifeCoalash" />
		<result property="addressStr" column="addressStr" />
		<result property="status" column="status" />
	</resultMap>

	<!--根据id查询全部 -->
	<select id="getById" parameterType="int" resultMap="HouseholdFuelMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr,
			(select districtName from ap_district where id=city) as cityName
		from ap_household_fuel where id=#{id}
	</select>
	<select id="getByField" parameterType="HouseholdFuel" resultMap="HouseholdFuelMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr,
			(select districtName from ap_district where id=city) as cityName
		from ap_household_fuel where fillyear=#{fillyear} and town=#{town} and accountid=#{accountid}
	</select>
	<select id="getByTown" parameterType="HouseholdFuel" resultMap="HouseholdFuelMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr,
			(select districtName from ap_district where id=city) as cityName
		from ap_household_fuel where fillyear=#{fillyear} and town=#{town} and accountid=#{accountid}
	</select>
	<select id="getByYear" parameterType="HouseholdFuel" resultMap="HouseholdFuelMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr,
			(select districtName from ap_district where id=city) as cityName
		from ap_household_fuel where fillyear=#{fillyear} and accountid=#{accountid}
	</select>
	<select id="getYears" parameterType="int" resultType="java.lang.Integer">
		select distinct fillyear from ap_household_fuel where accountid=#{accountid} order by fillyear desc;
	</select>
	<!-- 添加 -->
	<update id="setstatus"> <!-- 参数0是status,参数1是companyid -->
		update ap_household_fuel set status=#{0} where accountid=#{1} and fillyear=#{2}
	</update>
	<update id="setstatus2"> <!-- 参数0是status,参数1是companyid -->
		update ap_household_fuel set status=#{0} where accountid=#{1} and status=#{2}
	</update>
	<update id="setstatus3"> <!-- 参数0是status,参数1是companyid -->
		update ap_household_fuel set status=#{0} where accountid=#{1} and status=#{2} and fillyear=#{3}
	</update>
	<insert id="add" parameterType="HouseholdFuel" useGeneratedKeys="true" keyProperty="id">
		insert into ap_household_fuel
		<set>
		<if test="accountid >= 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="population > 0">
			population=#{population},
		</if>
		<if test="coalConsume > 0">
			coalConsume=#{coalConsume},
		</if>
		<if test="lifeCoal > 0">
			lifeCoal=#{lifeCoal},
		</if>
		<if test="lifeNatgas > 0">
			lifeNatgas=#{lifeNatgas},
		</if>
		<if test="lifeCoalSulphur > 0">
			lifeCoalSulphur=#{lifeCoalSulphur},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="lifeCoalash > 0">
			lifeCoalash=#{lifeCoalash}
		</if>
	</set>
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from ap_household_fuel where id=#{id};
	</delete>
	<!--修改 -->
	<update id="update" parameterType="HouseholdFuel">
		update ap_household_fuel
		<set>
		<if test="accountid > 0">
			accountid=#{accountid},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="population != null">
			population=#{population},
		</if>
		<if test="coalConsume != null">
			coalConsume=#{coalConsume},
		</if>
		<if test="lifeCoal != null">
			lifeCoal=#{lifeCoal},
		</if>
		<if test="lifeNatgas != null">
			lifeNatgas=#{lifeNatgas},
		</if>
		<if test="lifeCoalSulphur != null">
			lifeCoalSulphur=#{lifeCoalSulphur},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="lifeCoalash != null">
			lifeCoalash=#{lifeCoalash}
		</if>
	</set>
		where id=#{id}
	</update>

</mapper>