<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.gov.IVehicleActionDao">

	<!-- resultMap -->
	<resultMap type="VehicleAction" id="VehicleActionMap">
		<result property="id" column="id" />
		<result property="accountid" column="accountid" />
		<result property="status" column="status" />
		<result property="fillTime" column="fillTime" />
		<result property="fillyear" column="fillyear" />
		<result property="province" column="province" />
		<result property="city" column="city" />
		<result property="town" column="town" />
		<result property="country" column="country" />
		<result property="street" column="street" />
		<result property="serial" column="serial" />
		<result property="vehicletype" column="vehicletype" />
		<result property="platescolor" column="platescolor" />
  		<result property="registerdate"  column="registerdate" />
		<result property="checkdate" column="checkdate" />  
<!--  		<result property="registerdate"  column="registerdate" jdbcType="DATE" />
		<result property="checkdate"  column="checkdate" jdbcType="DATE" />  -->
		<result property="mileage" column="mileage" />
		<result property="gastype" column="gastype" />
		<result property="addressStr" column="addressStr" />
	</resultMap>

	<!--根据id查询全部 -->
	<select id="getById" parameterType="int" resultMap="VehicleActionMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_vehicle_action where id=#{id}
	</select>
	<select id="getByField" parameterType="VehicleAction" resultMap="VehicleActionMap">
		 
	</select>
	<select id="getByYear" parameterType="VehicleAction" resultMap="VehicleActionMap">
		select *,
			concat(
			(select districtName from ap_district where id=province), ' ',
			(select districtName from ap_district where id=city), ' ',
			(select districtName from ap_district where id=town)) as addressStr
		from ap_vehicle_action where fillyear=#{fillyear} and accountid=#{accountid}
	</select>
	<delete id="clearData" parameterType="VehicleAction">
		delete from ap_vehicle_action where fillyear=#{fillyear} and accountid=#{accountid}
	</delete>
	<select id="getYears" parameterType="int" resultType="java.lang.Integer">
		select distinct fillyear from ap_vehicle_action where accountid=#{accountid} order by fillyear desc;
	</select>
	<update id="setstatus"> <!-- 参数0是status,参数1是companyid -->
		update ap_vehicle_action set status=#{0} where accountid=#{1}
	</update>
	<update id="setstatus2"> <!-- 参数0是status,参数1是companyid -->
		update ap_vehicle_action set status=#{0} where accountid=#{1} and status=#{2}
	</update>
	<!-- 删除 -->
	<delete id="delete" parameterType="int">
		delete from ap_vehicle_action where id=#{id};
	</delete>
	<!-- 添加 -->
	<insert id="add" parameterType="VehicleAction" useGeneratedKeys="true" keyProperty="id">
		insert into ap_vehicle_action
		<set>
		<if test="accountid >= 0">
			accountid=#{accountid},
		</if>
		<if test="status >= 0">
			status=#{status},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear >= 0">
			fillyear=#{fillyear},
		</if>
		<if test="province >= 0">
			province=#{province},
		</if>
		<if test="city >= 0">
			city=#{city},
		</if>
		<if test="town >= 0">
			town=#{town},
		</if>
		<if test="country >= 0">
			country=#{country},
		</if>
		<if test="street >= 0">
			street=#{street},
		</if>
		<if test="serial >= 0">
			serial=#{serial},
		</if>
		<if test="vehicletype != null">
			vehicletype=#{vehicletype},
		</if>
		<if test="platescolor != null">
			platescolor=#{platescolor},
		</if>
		<if test="registerdate!=null">
			registerdate=#{registerdate},
		</if>
		<if test="registerdate!=null">
			checkdate=#{checkdate},
		</if>
		<if test="mileage >= 0">
			mileage=#{mileage},
		</if>
		<if test="gastype != null">
			gastype=#{gastype},
		</if>
	</set>
	</insert>

	<!--修改 -->
	<update id="update" parameterType="VehicleAction">
		update ap_vehicle_action
		<set>
		<if test="accountid > 0">
			accountid=#{accountid},
		</if>
		<if test="status > 0">
			status=#{status},
		</if>
		<if test="fillTime != null">
			fillTime=#{fillTime},
		</if>
		<if test="fillyear > 0">
			fillyear=#{fillyear},
		</if>
		<if test="province > 0">
			province=#{province},
		</if>
		<if test="city > 0">
			city=#{city},
		</if>
		<if test="town > 0">
			town=#{town},
		</if>
		<if test="country > 0">
			country=#{country},
		</if>
		<if test="street > 0">
			street=#{street},
		</if>
		<if test="serial > 0">
			serial=#{serial},
		</if>
		<if test="vehicletype != null">
			vehicletype=#{vehicletype},
		</if>
		<if test="platescolor != null">
			platescolor=#{platescolor},
		</if>
		<if test="registerdate!=null">
			registerdate=#{registerdate},
		</if>
		<if test="registerdate!=null">
			checkdate=#{checkdate},
		</if>
		<if test="mileage !=null">
			mileage=#{mileage},
		</if>
		<if test="gastype != null">
			gastype=#{gastype},
		</if>
	</set>
		where id=#{id}
	</update>

</mapper>