<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.xf.dao.IControlFacilityDao">

	<!-- resultMap -->
	<resultMap type="facility" id="facilityMap">
		<result property="id" column="id" />
		<result property="enterpriceId" column="enterpriceId" />
		<result property="pollutantId" column="pollutantId" />
		<result property="outletId" column="outletId" />
		<result property="facilityModel" column="facilityModel" />
		<result property="technique1" column="technique1" />
		<result property="technique2" column="technique2" />
		<result property="serial" column="serial" /> 
		<result property="enabled" column="enabled" />
		<result property="remark" column="remark" />
	</resultMap>

	<!-- 添加 -->
	<insert id="add" parameterType="facility" useGeneratedKeys="true"
		keyProperty="id">
		insert into ap_control_facilities(enterpriceId,
		pollutantId, outletId, facilityModel, technique1, technique2, serial, enabled,
		remark)
		values(#{enterpriceId}, #{pollutantId}, #{outletId},
		#{facilityModel}, #{technique1}, #{technique2}, #{serial}, 1, #{remark})
	</insert>
	<!-- 删除 -->
	<delete id="delete" parameterType="facility">
		delete from
		ap_control_facilities where id=#{id};
	</delete>
	<!--修改 -->
	<update id="update" parameterType="facility">
		update ap_control_facilities
		<set>
			<if test="enterpriceId > 0">
				enterpriceId=#{enterpriceId},
			</if>
			<if test="pollutantId > 0">
				pollutantId=#{pollutantId},
			</if>
			<if test="outletId > 0">
				outletId=#{outletId},
			</if>
			<if test="facilityModel != null">
				facilityModel=#{facilityModel},
			</if>
			<if test="technique1 > 0">
				technique1=#{technique1},
			</if>
			<if test="technique2 > 0">
				technique2=#{technique2},
			</if>
			<if test="serial>0">
				serial=#{serial},
			</if>
			<if test="enabled > 0">
				enabled=#{enabled},
			</if>
			<if test="remark != null">
				remark=#{remark}
			</if>
		</set>
		where id=#{id}
	</update>
	<!--根据id查询全部 -->
	<select id="getById" parameterType="int" resultMap="facilityMap">
		select *,
		(select status from ap_facilities_fill where f.id=facilityId and
		fillyear=#{fillyear}) status,
		(select groupname from ap_pollutant where groupid= pollutantId LIMIT
		1) as pollutantName,
		(select name from ap_static where id=technique1) as technique1Name,
		(select name from ap_static where id=technique2) as technique2Name,
		(select outletSerial from ap_outlet where id=outletId) as outletSerial
		from
		ap_control_facilities f where id=#{id}
	</select>
	
	<select id="getfacById" parameterType="int" resultMap="facilityMap">
		select * from ap_control_facilities where id=#{id}
	</select>
	
	<select id="getByCompany" parameterType="int" resultMap="facilityMap">
		select
		*,
		(select status from ap_facilities_fill where f.id=facilityId and
		fillyear=#{fillyear}) status,
		(select groupname from ap_pollutant where groupid= pollutantId LIMIT
		1) as pollutantName,
		(select name from ap_static where id=technique1) as technique1Name,
		(select name from ap_static where id=technique2) as technique2Name,
		(select outletSerial from ap_outlet where id=outletId) as outletSerial
		from
		ap_control_facilities f where enterpriceId=#{companyid}
	</select>

	<insert id="addStep" parameterType="int">
		insert into
		ap_facility_step(facilityId, stepId) values(#{0}, #{1})
	</insert>
	<delete id="delStep" parameterType="int">
		delete from ap_facility_step
		where facilityId=#{facilityId} and stepId=#{stepId}
	</delete>
	<select id="yearList" resultMap="facilityMap">
		select f.*, ff.status
		from
		ap_control_facilities f left outer join ap_facilities_fill ff on
		ff.facilityId = f.id
		where fillyear=(select v from ap_config where
		k='current_year')
	</select>
	<select id="getyearList" parameterType="Condition" resultMap="facilityMap">
		select f.*, ff.status
		from ap_control_facilities f left outer join
		ap_facilities_fill ff on ff.facilityId = f.id
		<where>
			<if test="fillyear>0">
				fillyear=#{fillyear}
			</if>
		</where>
	</select>

	<select id="addDevice" resultMap="facilityMap">
		insert into
		ap_facility_device(facilityId, deviceId) values(#{0}, #{1})
	</select>
	<delete id="delDevice" parameterType="int">
		delete from
		ap_facility_device where facilityId=#{facilityId} and
		deviceId=#{deviceId}
	</delete>
	<delete id="delStepfacid" parameterType="int">
		delete from
		ap_facility_step where facilityId=#{facilityId}
	</delete>
	<delete id="delDevicefacid" parameterType="int">
		delete from
		ap_facility_device where facilityId=#{facilityId}
	</delete>
	<select id="getBy" resultMap="facilityMap">
		SELECT a.* FROM
		ap_control_facilities a WHERE a.enterpriceId=#{enterpriceId} 
		AND a.pollutantId=#{pollutantId} AND a.technique1=#{technique1} AND a.technique2=#{technique2} 
		AND a.outletId=#{outletId} and a.facilityModel=#{facilityModel}
	</select>
</mapper>